.jobDetailLike__Container {
  margin: 24px 0 0;
  height: 30px;
  &__likeHeart {
    height: 15px;
    border-radius: 15px;
    border: 1px solid #e1e2e3;
    margin-right: 12px;
    padding: 5px 15px;
    float: left;
    width: 15px;
  }
}
